.fondoo{
    background-color: deepskyblue;
}
.cuabrado3 {
    background-color: #125691;
    border-radius: 8px;
    display: inline-block;
    margin:5%;
display: block;
}

body{color: azure;}

.h1{
    text-align: center;
}

.a{color:rebeccapurple;}
