body {
  margin: 0;
  padding: 0;
  overflow: hidden; /* evita el scroll si no lo necesit치s */
}

/* Imagen de fondo absoluta */
.fondo {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover; /* se adapta sin deformarse */
  z-index: -1; /* detr치s del contenido */
}

.fondo2 {
   position: absolute;
   top: 10%;
  left: 0;
  width: 100%;
  height: 170%;
  object-fit: cover; /* se adapta sin deformarse */
  z-index: -1; /* detr치s del contenido */
}

/* Contenido encima */
.container {
  position: relative;
  color: white;
  z-index: 1;
  padding-top: 100px;
}



.contenedor-principal {
  position: relative;
  width: 90%;
  max-width: 900px;
  height: 400px;
  border: 2px dashed #9bd0ff;
  border-radius: 10px;
  overflow: hidden;
  background: rgba(255, 255, 255, 0.05);
}


.contenido {
  position: relative;
  z-index: 1;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.nombre-box {
  background-color: #2988d9;
  border-radius: 8px;
  display: inline-block;
  border: 1px dashed #b0d4f7;
}

.redes a:hover {
  opacity: 0.8;
}

.btn-light {
  border-radius: 8px;
  padding: 10px 20px;
}
.derecha {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

/* Estilo personalizado de los botones */
.boton-personalizado {
  border-radius: 10px;
  padding: 10px 25px;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Efecto hover: color azul suave + sombra */
.boton-personalizado:hover {
  background-color: #007bff;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}


section {
  display: none;
  padding: 20px;
}

/* Mostrar la secci칩n correspondiente al hash */
section:target {
  display: block;
}

/* Mostrar inicio por defecto si no hay hash */
body:not(:has(:target)) #inicio {
  display: block;
}

.cuabrado1 {
     background-color: #2988d9;
  border-radius: 8px;
  display: inline-block;
  border: 2px dashed #b0d4f7;
}
.cuabrado2 {
     background-color: #2988d9;
  border-radius: 8px;
  display: inline-block;
  border: 2px dashed #000000;
}

.cuabrado3 {
     background-color: #125691;
  border-radius: 8px;
  display: inline-block;

}

.boton-personalizado2 {
  border-radius: 10px;
  padding: 1px 100px;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Efecto hover: color azul suave + sombra */
.boton-personalizado2:hover {
  background-color: #007bff;
  color: white;
  box-shadow: 0 4px 10px rgba(0, 123, 255, 0.4);
}
